
.separate-top{
    margin-top: 15px;
}

.separate-big{
    margin-top: 60px;
    margin-bottom: 60px;
}

.separate-side{
    margin-right: 15px;
}

.flex{
    display: flex;
    padding: 5px;
}

.padding{
    padding: 20px;
}

.move{
    padding: 60px;
}

.justify-around{
    justify-content: space-around;
}

.header{
    text-align: center;
}

.separate-bottom{
    margin-bottom: 60px;
}

.slider{
    width: 300px;
    height: 25px;
}

.slider[type="range"] {
    accent-color: rgb(255, 80, 80);
  }
